apiVersion: v1
kind: Secret
metadata:
  name: coredns-credentials
  labels:
    kuadrant.io/default-provider: "true"
type: kuadrant.io/coredns
stringData:
  ZONES: "apis.{{ base_domain }},maas.{{ openshift_apps_domain }}"
