apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  annotations:
    opendatahub.io/managed: "false"
    security.opendatahub.io/authorino-tls-bootstrap: "true"
  labels:
    app.kubernetes.io/name: maas-gateway
    istio.io/rev: openshift-gateway
    kuadrant.io/gateway: "true"
  name: maas-default-gateway
  namespace: openshift-ingress
spec:
  gatewayClassName: data-science-gateway-class
  listeners:
    - allowedRoutes:
        namespaces:
          from: All
      hostname: maas.{{ openshift_apps_domain }}
      name: http
      port: 80
      protocol: HTTP
    - allowedRoutes:
        namespaces:
          from: All
      hostname: maas.{{ openshift_apps_domain }}
      name: https
      port: 443
      protocol: HTTPS
      tls:
        certificateRefs:
          - group: ""
            kind: Secret
            name: cert-manager-ingress-cert
        mode: Terminate
