apiVersion: v1
kind: ConfigMap
metadata:
  name: maas-gw-options
  namespace: openshift-ingress
data:
  service: |
    metadata:
      annotations:
        service.beta.openshift.io/serving-cert-secret-name: "maas-gateway-service-tls"
    spec:
      type: {% if openshift_platform == "BareMetal" or openshift_platform == "None" %}ClusterIP{% else %}LoadBalancer{% endif %}
