apiVersion: v1
kind: Secret
metadata:
  name: llama-stack-inference-model-secret
  namespace: redhat-ods-applications
type: Opaque
stringData:
  INFERENCE_MODEL: "llama-3-2-3b"
  VLLM_URL: "http://llama-3-2-3b-instruct-predictor.llm-hosting.svc.cluster.local:8080/v1"
  VLLM_TLS_VERIFY: "false"
  VLLM_API_TOKEN: ""
