apiVersion: v1
kind: Secret
metadata:
  name: loki
  namespace: redhat-ods-monitoring
stringData:
  endpoint: {{ loki_s3_endpoint }}
  bucketnames: {{ loki_s3_bucket }}
  access_key_id: {{ loki_s3_access_key_id }}
  access_key_secret: {{ loki_s3_access_key_secret }}
type: Opaque
