apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-tls-config
  namespace: redhat-ods-applications
data:
  postgres-tls.conf: |
    {{ lookup('file',role_path + '/files/postgres-tls.conf') | indent(4) }}
