apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: {{ postgres_name }}
    app.kubernetes.io/component: postgresql-persistent
    app.kubernetes.io/instance: {{ postgres_name }}
  name: {{ postgres_name }}
  namespace: {{ postgres_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
