kind: Secret
apiVersion: v1
metadata:
  labels:
    app: {{ postgres_name }}
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/instance: {{ postgres_name }}
  name: {{ postgres_name }}
  namespace: {{ postgres_namespace }}
type: Opaque
stringData:
  database-name: "{{ postgres_database }}"
  database-password: "{{ postgres_password }}"
  database-user: "{{ postgres_username }}"
