apiVersion: v1
kind: Service
metadata:
  annotations:
  labels:
    app: {{ postgres_name }}
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/instance: {{ postgres_name }}
  name: {{ postgres_name }}
  namespace: {{ postgres_namespace }}
spec:
  internalTrafficPolicy: Cluster
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: postgresql
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: {{ postgres_name }}
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/instance: {{ postgres_name }}
  sessionAffinity: None
  type: ClusterIP
