apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata: 
  name: ocs-storagecluster
  namespace: openshift-storage
spec: 
  manageNodes: false
  resourceProfile: lean
  monPVCTemplate: 
    spec: 
      accessModes: 
        - ReadWriteOnce
      resources: 
        requests: 
          storage: 10Gi
      storageClassName: {{ storage_aws_storage_class }}
      volumeMode: Filesystem
  storageDeviceSets: 
    - count: 1
      dataPVCTemplate: 
        spec: 
          accessModes: 
            - ReadWriteOnce
          resources: 
            requests: 
              storage: 2Ti
          storageClassName: {{ storage_aws_storage_class }}
          volumeMode: Block
      name: ocs-deviceset
      placement: {}
      portable: true
      replica: 3
      resources: {}
  #multiCloudGateway:
  #  dbStorageClassName: {{ storage_aws_storage_class }}
  #  reconcileStrategy: standalone
  #  disableLoadBalancerService: true
