apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  labels:
    app.kubernetes.io/managed-by: grafana-operator
    dashboards: grafana
  name: grafana-service
  namespace: grafana
spec:
  host: grafana-service-grafana.{{ openshift_apps_domain }}
  port:
    targetPort: grafana
  tls:
    termination: edge
  to:
    kind: Service
    name: grafana-service
    weight: 100
  wildcardPolicy: None
