apiVersion: v1
kind: ConfigMap
metadata:
  name: kuadrant-coredns
  namespace: kuadrant-coredns
  labels:
    app.kubernetes.io/instance: kuadrant
    app.kubernetes.io/name: coredns
data:
  Corefile: |
    apis.{{ base_domain }}:53 {
        debug
        errors
        health {
            lameduck 5s
        }
        ready
        log
        geoip <GeoIP-database-name>.mmdb {
            edns-subnet
        }
        metadata
        kuadrant
    }
