kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/instance: rhcl
    app.kubernetes.io/name: coredns
    app.kubernetes.io/version: rhcl-1.4
  name: kuadrant-coredns
  namespace: kuadrant-coredns
data:
  Corefile: |
    apis.{{ base_domain }} {
        debug
        errors
        health {
            lameduck 5s
        }
        ready
        log
        metadata
        kuadrant
    }
