apiVersion: v1
kind: ConfigMap
metadata:
  name: nvidia-dcgm-exporter-dashboard
  namespace: openshift-config-managed
  label:
    console.openshift.io/dashboard: true
    console.openshift.io/odc-dashboard: true
data:
  dcgm-exporter-dashboard.json.json: |
    {{ lookup('file',role_path + '/files/dcgm-exporter-dashboard.json') | indent(4) }}
