apiVersion: v1
kind: Secret
metadata:
  name: tempo
  namespace: tempo
stringData:
  endpoint: {{ tempo_s3_endpoint }}
  bucket: {{ tempo_s3_bucket }}
  access_key_id: {{ tempo_s3_access_key_id }}
  access_key_secret: {{ tempo_s3_access_key_secret }}
type: Opaque
