apiVersion: k8s.keycloak.org/v2beta1
kind: Keycloak
metadata:
  name: {{ keycloak_name }}
  namespace: {{ keycloak_namespace }}
spec:
  instances: 1
  additionalOptions:
    - name: enable-recovery
      value: 'true'
    - name: metrics-enabled
      value: 'true'
  db:
    vendor: postgres
    host: postgres
    usernameSecret:
      key: USERNAME
      name: {{ keycloak_name }}-db-secret
    passwordSecret:
      key: PASSWORD
      name: {{ keycloak_name }}-db-secret
    url: 'jdbc:postgresql://postgres-{{ keycloak_name }}/keycloak'
    poolInitialSize: 10
    poolMaxSize: 10
  hostname:
    hostname: {{ keycloak_name }}.{{ openshift_apps_domain }}
  http:
    httpEnabled: true
    httpPort: 8080
  proxy:
    headers: xforwarded
