apiVersion: v1
kind: Secret
metadata:
  name: {{ keycloak_name }}-db-secret
stringData:
  POSTGRES_DATABASE: keycloak
  POSTGRES_EXTERNAL_ADDRESS: postgres-{{ keycloak_name }}
  POSTGRES_EXTERNAL_PORT: "5432"
  USERNAME: postgres
  PASSWORD: postgres
