apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: kueue
  namespace: openshift-kueue-operator
spec:
  channel: {{ kueue_channel }}
  installPlanApproval: Automatic
  name: kueue-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
